.article-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  width: 100%;
  padding-top: 200px;
  background-color: #d6ed17;
}

h3 {
  font-size: 1.7em;
}

h5 {
  margin-top: 0;
}
.back-btn {
  color: black;
  text-decoration: none;
}

.description {
  font-size: 1.5em;
}

.art-link {
  text-decoration: none;
  color: black;
  margin-top: 25px;
  font-size: 1em;
}

.art-link:hover {
  cursor: pointer;
  font-style: italic;
  font-size: 1.3em;
}

.gif {
  margin-top: 20px;
  height: 250px;
  width: 300px;
}

a.back-btn:hover {
  cursor: pointer;
  font-style: italic;
  font-size: 1.1em;
}

.description {
  width: 700px;
}
