.headline-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  transform: translateY(-50px);
  padding-top: 220px;
  background: lightslategray;
  background-image: url('../images/newsprint.jpg');
}