.card {
  height: 200px;
  width: 100%;
  border: 1px solid pink;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}


img {
  height: 100px;
  width: 100px;
  padding: 5px;
  border-radius: 50px;
}

.card-navlink {
  text-decoration: none;
  border: 1px solid black;
  background-color: blue;
  height: 20px;
  width: 100px;
  color: white;
  font-size: .5em;
}